---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$color-grey: #2a2a2a;
$color-white: #fff;
$color-purple: rgb(93,18,94);
$link-purple: rgb(154,41,177);

$size-default: 11pt;
$size-large: 16pt;

body {
  background-color: $color-grey;
  color: $color-white;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'lucida grande', 'Lucida Sans Unicode', tahoma, sans-serif;
  text-align: center;
  font-size: $size-default;
  margin: 0;
}

a {
  color: $link-purple;
  text-decoration: none;
  &:hover {
    color: $color-purple;
  }
}

.Message a{
  color: $link-purple;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: $size-large;
  font-weight: normal;
  margin: 2em 0 0.2em 0;
}

#sigil {
  background: transparent url("/img/sigil_white.png") no-repeat scroll center center;
  height: 75px;
  width: 75px;
  margin: 50px auto 3em;
}

#footer {
  margin: 3em auto 1em auto;
  font-size: 80%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 1em 0 1em;
      padding: 0;
      display: inline-block;
      a {
        color: $color-white;
        &:hover {
          color: $color-purple;
        }
      }
    }
  }
}

#links {
  font-size: $size-default;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;

  h1 {
    font-size: $size-large;
    margin: 0 0 0.4em;
  }

  p {
    margin: 0 0 0.5em;
  }

  ul {
    list-style: none;
    margin: 2em 0 0;
    padding: 0;
    li {
      margin: 0 0 2em;
      p:first-child {
        font-size: $size-large;
        a {
          display: block;
          padding: 2px 10px;
          color: $color-white;
          &:hover {
            color: $color-purple;
          }
        }
      }
    }
  }

}

#content {
  font-size: $size-default;
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  text-align: justify;
  ul {
    margin: .5em 2em 1em 2em;
    padding: 0;
    max-width: 80%;
    li {
      margin: .5em 0em .5em 0em;
      padding: 0em 0em 0em 0em;
      text-align: left;
      vertical-align: middle;
      max-width: 90%;
    }
  }
}
